appearance:
  name: Slack bot

auth:
  token: xoxb-XXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXX

server:
  port: 8888
  pidfile: var/core.pid
  rtmpidfile: var/rtm.pid

admins:
  - @your-username-or-group-here

cron:
  - name: Run test command every hour
    time: "* */1 * * *"
    playbook: sample.yml

commands:
  autoload: true
  paths:
    - name: root directory
      location: src/slackbot/commands